<!DOCTYPE html>
<html lang="en">
    <head>
      <div class="background">
        <title>Cup-Alicious</title>
        <meta charset = "utf-8" />
        <link rel="stylesheet" type="text/css" href="css/style.css">

    </head>

    <body>
      <h1>   Welcome to Cupcake-Licious! </h1>
      <!--<a href="index.html">HOME</a>-->
     <br> <p class ="one"> ...where all your bubbly cupcake dreams come true..</p>
</br>
</div>


<p class="a">

  <label for="select cupcake">Select a Heavenly cupcake</label><br>
  <select class = "bmenu" id="select cupcake" name="sc">
      <option>Unicorn Delish</option>
      <option>Baby Spice</option>
      <option>Ice Ice Baby</option>
  </select></p>



      <div class = "grid">

        <div class = "grid-item"><br>Unicorn Delish</br>
          <td><img src ="https://www.wilton.com/dw/image/v2/AAWA_PRD/on/demandware.static/-/Sites-wilton-project-master/default/dwfcc986d0/images/project/WLPROJ-9312/MaUnPoHa_49359-04.jpg?sw=502&sh=502&sm=fit" alt="cupcake" title="BURGERLOVE" width="800"></td>
          <td><br><ul>
          <li>Pink Colored Frosting</li>
          <li>ChocolateBase</li>
          <li>300Kcal/cupcake</li>
      </br></ul> </td>

        </div>

          <div class ="grid-item"><br>Baby Spice</br>
            <td><img src = "https://www.wilton.com/dw/image/v2/AAWA_PRD/on/demandware.static/-/Sites-wilton-project-master/default/dw0991bc6d/images/project/WLPROJ-9112/WiltonDotsProject4.jpg?sw=1000&sh=1000&sm=fit" alt="cake" title = "Cakelove" width = "800" height= "800"></td>
            <td><br><ul>
            <li>White Colored Frosting</li>
            <li>LemonBase</li>
            <li>500kcal/cupcake</li>
            </br></ul></td>
          </div>

      <div class = "grid-item"><br>Ice Ice Baby</br>
        <td><img src = "https://media.bakingmad.com/app_/responsive/BakingMad/media/content/Recipes/Holly%20Willoughby/Holly-Willoughby-Ice-Cream-Cone-Cakes_Header.jpg?w=1300"alt ="cak1e" title = "CakeloveD" width = "800" height= "800"></td>
        <td><br><ul>
        <li>Vanilla Frosting</li>
        <li>ChococlateBase</li>
        <li>500kcal/cupcake</li>
        </br></ul></td>

</div>

</div>

</body>

<fieldset>


<p class="b"> <br> Customer Information</br></p>

    <section id="contact">
        <form>
          <p class="b">

  <label for="firstname">First</label><br>
    <input type="text" id="firstname" name="fn" required="required" placeholder="First name"> </br>
</p>

<p class="b">
    <label for="lastname">Last</label><br>
    <input type="text" id="lastname" name="ln" required = "required" placeholder="Last name"></br>
</p>

<p class="b">
  <label for="email">Email</label><br>
  <input type="email" id="email" name="em" required="required" placeholder="E-mail address"></br>
</p>

<p class="b">
  <label for="Street Name">Street</label><br>
  <input type="Street" id="streetadress" name="sn" required="required" placeholder=" Street Name"></br>
</p>

<p class="b">
  <label for="House">House</label><br>
  <input type="House" id="house" name="hn" required="required" placeholder=" House Number"></br>
</p>

<p class="i">

    <label for="payment method">Payment Method</label><br>
    <select class ="payment" id="payment method" name="pm">
        <option>Credit/Master Card</option>
        <option>Pay Pal</option>
        <option>Klarna</option>
        <option>Direct Bank</option>
    </select>
</p>

        </form>

        <p class="gender">

        <br><input type="radio" name ="gender" value "male" checked> Male</br>
        <br><input type="radio" name ="gender" value "female" checked>Female</br>
        <br><input type="radio" name ="gender" value "non-binary" checked> Non-binary</br>
        <br><input type="radio" name ="gender" value "undisclosed" checked> Undisclosed</br>
        <br></br>



<button type="submit"><img src="https://photos.gograph.com/thumbs/CSP/CSP605/free-delivery-vector-clipart_k37227862.jpg" width="17"> Place my order</button>

</fieldset>


</html>
